@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";
@import "tailwindcss-animated";

@source './Learn';

/* for Dark mode toggle */
@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --font-mohave: "Mohave", sans-serif;
    --text-mobile-size: 1.2rem;
    --text-dtop-size: 1.3rem;

    --text-session-size: 1.5em;
    --text-basehead-size: 1.1em;
    --text-base-size: 1em;
    --text-smol-size: .8em;
    --text-token-size: .7em;
    --text-projabout-size: .8em;
    --text-projlink-size: .8em;

}

@theme {
    --color-mainbg-dark: #010D1E;
    --color-maintxt-dark: #A2D5C6;
    --color-mainbtn-dark: #27F59C;
    --color-icon-bg: #28EBB3;
    --color-navhighlight: #3C5565;
    --color-cursor: #426070;
    --color-contactb: #049499;
    --color-contactbg: #14425B;
    --color-projbg: #02122A;
    --color-input-txt: #B4E4D6;
    
    --color-projhover: #1C2C3F;
    --color-inputborder: #049499;
}

@theme {
    --color-mainbg-white: #C4DDFF;
    --color-maintxt-white: #000;
    --color-mainbtn-white: #471396;
    --color-navhighlight-white: #77D0FF;
    --color-icon-bg-white: #87B4E4;
    --color-projhover-white: #DCEEFF;
    --color-contactbg-white: #94D6FF;
    --color-inputborder-white: #000;
}

@theme {

    --animate-fadeup: fadeup 200ms ease-out 1;
    @keyframes fadeup {
        from { opacity: 0; transform: translateY(20px); }
        to { opacity: 1; transform: translateY(0px); }
    }
    
    --animate-fadedown: fadedown 200ms ease-in 1;
    @keyframes fadedown {
        from { opacity: 1; transform: translateY(0px); }
        to { opacity: 0; transform: translateY(20px); }
    }
    --animate-spining: spin 1s linear infinite;
    @keyframes spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }
}

.cursorDiv {
    @apply rounded-full -translate-x-1/2 -translate-y-1/2;
}

@utility cursorTransition {
    transition-property: width, height;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition-duration: 400ms;
}

@utility borderTransit {
    transition: border-radius 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55), 
    font-size 300ms ease-out;
}

@utility dropTransit {
    transition-property: padding, height, opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}
@utility circleTransit {
    transition: opacity 300ms ease-out;
}

